.notificationbox-stack.global-notificationbox {
    min-width: 0 !important;
    width: auto !important;
}

#navigator-toolbox {
    display: flex;
    flex-flow: row nowrap;
}

#titlebar #TabsToolbar {
    background-color: var(--toolbar-bgcolor);
    background-image: var(--toolbar-bgimage)
}

#titlebar #TabsToolbar .toolbarbutton-icon {
    outline: none !important;
    box-shadow: none !important;
}

#toolbar-menubar {
    width: 100vw;
}
#toolbar-menubar[inactive] {
    width: 0;
}

#titlebar #TabsToolbar .titlebar-spacer {
    display: none;
}

#nav-bar {
    flex-grow: 1;
}

/* Update - Hides the new Firefox home + tab dropdown. If you want to keep/customize those buttons. remove the CSS below and adjust the widths above to get everything fitting in one line */
#TabsToolbar .toolbar-items #tabbrowser-tabs,
#TabsToolbar .toolbar-items #new-tab-button {
    display: none;
}

toolbarbutton.toolbarbutton-1.webextension-browser-action {
    filter: sepia(100%) hue-rotate(186deg) saturate(300%);
}
/********************* Tree Style Tab *********************/
#main-window[titlepreface^="[1] "] #sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  visibility: collapse !important;
}
/* Hide Header for TreeStyleTab */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}

/*Collapse in default state and add transition*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  --tabs-width-base: 200px;
  --tabs-width-collapsed: 8vw;
  --tabs-viewport-breakpoint: 1200px;
  --tabs-dynamic-width:
      clamp(min(var(--tabs-width-collapsed), var(--tabs-width-base)),
        calc(9999 * (100vw - var(--tabs-viewport-breakpoint))),
        var(--tabs-width-base));
  overflow: hidden;
  min-width: var(--tabs-dynamic-width) !important;
  max-width: var(--tabs-dynamic-width) !important;
  transition: all 0.1s ease;
/*   border-right: 1px solid #0c0c0d; */
  z-index: 2;
}

/*Expand to 260px on hover*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width: var(--tabs-width-base) !important;
  max-width: var(--tabs-width-base) !important;
  z-index: 1;
}

.sidebar-splitter {
    border: transparent !important;
    width: 1px !important;
}
