* {
  border: none;
  border-radius: 0px;
  font-size: 14px;
  min-height: 0;
  font-family: 'Noto Sans';
}

window#waybar {
  background: rgba(34, 36, 54, 0.97);
  color: #c8d3f5;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  border-radius: 3px;
  padding: 1px;
  background-color: transparent;
  color: #c8d3f5;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #c8d3f5;
}

#workspaces button.focused {
  background-color: #394b70;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#clock {
    margin-right: 0;
}

.modules-left #window {
    margin: 0 50px;
}

.modules-right > widget > label {
    padding: 0px 5px;
    margin: 0 4px;
    color: #c0caf5;
    background: #394b70;
    border-radius: 3px;
}

#mode {
  background-color: rgba(43, 48, 59, 0.5);
  color: #e0af68;
}

#battery {
    padding-right: 9px;
}
#battery.charging {
    background-color: #9ece6a;
    color: rgba(34, 36, 54, 0.97);
}

@keyframes blink {
  to {
    background-color: #c8d3f5;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
    background-color: #e0af68;
    color: rgba(34, 36, 54, 0.97);
}

#battery.critical:not(.charging) {
  background-color: #f7768e;
  color: #c8d3f5;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#network.disconnected {
  background-color: #f7768e;
}

#pulseaudio.bluetooth {
  background-color: #4686ca;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #2a5c45;
}

#custom-media {
  background-color: #66cc99;
  color: #2a5c45;
  min-width: 100px;
}

#custom-media.custom-spotify {
  background-color: #66cc99;
}

#custom-media.custom-vlc {
  background-color: #ffa000;
}

#temperature.critical {
  background-color: #f7768e;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #ecf0f1;
  color: #2d3436;
}

#mpd {
  background-color: #66cc99;
  color: #2a5c45;
}

#mpd.disconnected {
  background-color: #f7768e;
}

#mpd.stopped {
  background-color: #90b1b1;
}

#mpd.paused {
  background-color: #51a37a;
}
